<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>"./_create_ide_project.sh"</string>
	<key>extension</key>
	<string>as</string>
	<key>name</key>
	<string>Project - Flash IDE</string>
	<key>uuid</key>
	<string>ED5F9AD7-D056-40C4-B1E4-C59188DD6D72</string>
</dict>
</plist>
